# InfluxDB URL used by FastAPI and the Python simulator when run locally.
INFLUXDB_URL=http://localhost:8086

# InfluxDB initial administrator username used by Docker Compose.
INFLUXDB_USERNAME=admin

# InfluxDB initial administrator password used by Docker Compose.
INFLUXDB_PASSWORD=admin123

# Organization shared by InfluxDB, FastAPI, and the simulator.
INFLUXDB_ORG=robot-data

# Bucket shared by InfluxDB, FastAPI, and the simulator.
INFLUXDB_BUCKET=robot-data

# InfluxDB API token used for initialization and API read/write access.
INFLUXDB_TOKEN=  57gMAEvNX-rmz0tYIIP8BgfvOY5zHkbruoxjfeHKRAlsGorHd6hhHYyaysuPI9zsJfB4Tk9XxBJw9XXk-x4Nxw==
